@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

:root {
  --font-rethink-sans: "Rethink Sans", sans-serif;
}

body {
  font-family: var(--font-rethink-sans);
  color: #040D1B;
}